.likes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  align-items: center;
}

.voting__buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 0;
  align-items: center;
}

.like__button {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 0;
  align-items: center;
}
