.navbar {
  background: #94d1be;
  padding: 2rem;
}

.link_class:link {
  color: #3b413c;
  text-decoration: none;
}

.link_class:visited {
  color: #2a2d2a;
  text-decoration: none;
}

.link_class:hover {
  color: #602dad;
}
